<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') -%>

	<head>
		<style>
			.bg-dark {
				background-color: #000 !important;
			}

			body {
				background-color: black;
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
			}

			ul {
				list-style: none;
			}

			.nav-link.active {
				background-color: #000;
				border: 0px;
				border-bottom: #fff 1px solid;
			}

			.input-dark {
				background-color: black;
				color: white;
				border: 0px;
				border-radius: 0px;
			}

			.input-dark:focus {
				background-color: black;
				color: white;
			}

			.input-dark-strong {
				background-color: black;
				color: grey;
				border: 0px;
				border-radius: 0px;
			}

			.input-dark-strong:focus {
				background-color: black;
				color: white;
			}

			/* Card Styles */
			#cardRow {
				color: white;
			}

			#cardLogo {
				font-size: 2em;
			}

			/* Setting Styles */
			.bg-dark-light {
				background-color: #171717;
			}

			.border-setting-top {
				border: 0px;
				border-radius: 0px;
				border-top: 1px solid lightslategray;
			}

			.border-setting-bottom {
				border-bottom: 1px solid lightslategray;
			}

			.custom-control-imput {
				right: 0px;
			}

			#previewCard {
				background-color: blue;
				border-radius: 0.2em;
			}

			/* Form Custom Cards */
			#addCustomSubscriptionForm #valueNewSub {
				border: 1px solid white;
				border-radius: 3px;
				padding: 5px;
			}

			.form-group span {
				color: white;
			}

			#btnSelect {
				color: blue;
			}

			#btnSelect span {
				color: red;
			}

			#fontOpenSans {
				font-family: 'Open Sans', sans-serif;
			}

			#fontDancingScript {
				font-family: 'Dancing Script', cursive;
			}

			#fontIndieFlower {
				font-family: 'Indie Flower', cursive;
			}

			#fontNunito {
				font-family: 'Nunito', sans-serif;
			}

			#fontRaleway {
				font-family: 'Raleway', sans-serif;
			}

			#fontRobotoMono {
				font-family: 'Roboto Mono', monospace;
			}

			/*# sourceMappingURL=style_sass.css.map */
		</style>
	</head>

	<body>
		<%- include('../partials/header') %>


			<!-- Tarjeta general -->
			<div class="row my-2" style="background-color: black; color: white;">
				<div class="col-4">
					logo
				</div>
				<div class="col-8">
					<div class="col-12">
						$180
					</div>
					<div class="col-12">
						Gastos de septiembre
					</div>
				</div>
			</div>
			</div>

			<!-- Tarjeta Miñatura -->
			<div class="row my-2">
				<div class="col-5" style="background-color: black; color: white;">
					<div class="col-4" style="background-color: rgba(255, 28, 28, 0.5)">
						<i class="fa fa-spotify"></i>
					</div>
					<div class="col-8" style="background-color: rgba(70, 57, 255, 0.5)">
						<div class="col-12">
							$180
						</div>
						<div class="col-12">
							Gastos de septiembre
						</div>
					</div>
				</div>
				<div class="col-5" style="background-color: red; color: white;">
					asd
				</div>
			</div>



			<!-- Obtener colores TODO  -->
			<%# const fetchPromise=fetch("/colors"); fetchPromise.then(response=> {
				return response.json();
				}).then(color => {
				console.log(color);
				}); %>

				<p>Mostrando solo activos</p>

				<% for(let one in allSubscription){ %>
					<% if(allSubscription[one].isActive===1){ %>

						<li class="my-2 rounded" style="background-color: yellowgreen">
							<%# <a id="cardUser" href="/"> Routear a editar esta card %>
								<div id="cardRow" class="row mx-0">

									<%# Logo %>
										<div class="col-2">
											<i class="fa fa-spotify"></i>
											<%# Reemplazar color con subscriptionData.logo %>
										</div>

										<%# Name %>
											<div id="cardUserCenter" class="col-6">
												<div class="row">
													<div class="col-12">
														<p class="my-0 text-truncate">
															<strong>
																<%- allSubscription[one].name %>
															</strong>
														</p>
													</div>

													<%# Description %>
														<div class="col-12">
															<p class="my-0 text-truncate">
																<small>
																	<%- allSubscription[one].description %>
																</small>
															</p>
														</div>
												</div>
											</div>

											<div id="cardUserRight" class="col">
												<div class="row">
													<div class="col-12">

														<%# Price %>
															<p class="text-right my-0 text-truncate">
																<%- allSubscription[one].currency %> <strong>
																		<%- allSubscription[one].price %>
																	</strong>
															</p>
													</div>
													<div class="col-12">

														<%# Days to payment %>
															<p class="text-right my-0 text-truncate">
																<%- allSubscription[one].longDate %>
															</p>
													</div>
												</div>
											</div>
								</div>
								<%# </a> %>
						</li>
						<% } %>
							<% } %>


								<%- include('../partials/footer') %>
	</body>

</html>